!v6.2.tex
!.gitignore
!reviewers-notes.txt
!fig
!*.png
etc
!reviewers-notes.docx
!reviewers-notes.pdf
!CRediT.docx
.DS_Store
.vscode/settings.json
v6.2/v6.2.aux
v6.2/v6.2.fdb_latexmk
v6.2/v6.2.fls
v6.2/v6.2.log
v6.2/v6.2.out
v6.2/v6.2.spl
v6.2/v6.2.synctex.gz
v6.2/v6.2.xdv
v7/v7.aux
v7/v7.fdb_latexmk
v7/v7.fls
v7/v7.log
v7/v7.out
v7/v7.spl
v7/v7.synctex.gz
v7/v7.xdv
v7/example.fdb_latexmk
v7/example.aux
v7/example.fls
v7/example.log
v7/example.out
v7/example.spl
v7/example.synctex.gz
v7/example.xdv
v7.zip
v8/v8.aux
v8/v8.fdb_latexmk
v8/v8.fls
v8/v8.log
v8/v8.out
v8/v8.spl
v8/v8.synctex.gz
v8/v8.xdv
v8/example.aux
v8/example.fdb_latexmk
v8/example.fls
v8/example.log
v8/example.out
v8/example.spl
v8/example.synctex.gz
v8/example.xdv
v8/example.fdb_latexmk
v8/example.fdb_latexmk
